.profile {
  display: grid;
  grid-gap: 10px;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}

.firstAndLastName {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.input {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
}

.securityInput {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

@media screen and (max-width: 540px) {
  .divider {
    display: none;
  }

  .firstAndLastName {
    display: grid;
    grid-template-columns: none;
    grid-gap: 10px;
  }

  .input {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: none;
  }

  .securityInput {
    display: grid;
    grid-template-columns: none;
    grid-gap: 10px;
    padding: 10px;
  }

  .infoText {
    padding: 10px;
  }
}
